<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div>
        <a asp-action="Index" asp-controller="Home">Home</a>
        <a asp-action="Index" asp-controller="User">Users</a>
        <a asp-action="Group" asp-controller="User">Groups</a>

        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="Logout" asp-controller="Auth" method="post">
                <button type="submit">Log Out</button>
            </form>
        }
        else
        {
            <a asp-action="Login" asp-controller="Auth">Log In</a>
            <a asp-action="Register" asp-controller="Auth">Register</a>
        }
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>