@{ 
    Layout = "_CommunityLayout";
}
@model CommunityIndexViewModel

<h1>Community</h1>

<table>
    <tbody>
        @foreach (var f in Model.Forums)
        {
            <tr>
                <td>
                    <a asp-controller="Forum" asp-action="Index" asp-route-id="@f.Id">
                        @f.Name
                    </a>
                </td>
                <td>
                    @f.Description
                </td>
                <td>
                    <img src="@f.ImageUrl" />
                </td>
            </tr>
        }
    </tbody>
</table>