@{ 
    Layout = "_CommunityLayout";
}
@model CommunityNewViewModel

<h1>New Community</h1>

<form asp-controller="Community" asp-action="New" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <br />
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <br />
    <button type="submit">Submit</button>
</form>