@model UserProfileDetails

@if (Model is null)
{
    <h2>This user does not exist.</h2>
}
else
{
    <h1>@Model.UserName</h1>

    <p>Joined: @Model.Created</p>
    <p>Last Active: @Model.LastActive</p>

    <p>Location: @(Model.Location ?? "not specified")</p>

    <p>Signature:</p>
    <p>@Model?.Signature</p>
}