
<div class="col-3">
    <nav class="nav nav-pills flex-column">
        @foreach (var page in ViewBag.Pages)
        {
            var action = page.Item1;
            var text = page.Item2;
            var extraStyle = page.Item3;
            var style = $"nav-link ";
            style += this.GetActionName() == action ? "active" : extraStyle;

            <a class="@style" asp-action="@action">@text</a>
        }
    </nav>
</div>