@model EditUserAccountForm

<h1>Edit Account | User Control Panel</h1>

@Html.ValidationSummary()

<form asp-action="EditAccount" method="post">
    <label asp-for="EmailAddress"></label>
    <input asp-for="EmailAddress" />
    <br />
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <br />
    <label asp-for="CurrentPassword"></label>
    <input asp-for="CurrentPassword" />
    <br />
    <label asp-for="NewPassword"></label>
    <input asp-for="NewPassword" />
    <br />
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <br />
    <button type="submit">Save Changes</button>
</form>