@model EditUserProfileForm

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Index">User Control Panel</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Edit Profile
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <partial name="_NavigationBar.cshtml" />
    <div class="col">
        <h1>Edit Profile</h1>
        <div class="validation-summary text-danger font-weight-bold"
             asp-validation-summary="ModelOnly">
        </div>
        <form asp-action="EditProfile" method="post">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Birthday"></label>
                        <input class="form-control" asp-for="Birthday" />
                        <span class="text-danger font-weight-bold" asp-validation-for="Birthday"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Location"></label>
                        <input class="form-control" asp-for="Location" />
                        <span class="text-danger font-weight-bold" asp-validation-for="Location"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Signature"></label>
                <textarea class="form-control" rows="8" asp-for="Signature">
                    @Model.Signature
                </textarea>
                <span class="text-danger font-weight-bold" asp-validation-for="Signature"></span>
            </div>
            <button class="btn btn-primary" type="submit">Save Changes</button>
        </form>
    </div>
</div>