@{ 
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    var userName = User.FindFirstValue(ClaimTypes.Name);
}

<partial name="_Breadcrumb.cshtml" />
<div class="row">
    <partial name="_NavigationBar.cshtml" />
    <div class="col">
        <span class="h1">
            @userName
        </span>
        <span class="h4">
            <a class="badge badge-secondary"
               asp-action="Profile"
               asp-controller="User"
               asp-route-id="@userId">View Profile</a>
        </span>
    </div>
</div>