@{ 
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    var userName = User.FindFirstValue(ClaimTypes.Name);
}

<h1>Dashboard | User Control Panel</h1>

<h2>@userName</h2>

<a asp-action="Profile" asp-controller="User" asp-route-id="@userId">View Profile</a>
<a asp-action="EditProfile" asp-controller="Ucp">Edit Profile</a>
<a asp-action="EditAccount" asp-controller="Ucp">Edit Account</a>
<a asp-action="DeleteAccount" asp-controller="Ucp">Delete Account</a>