@{ 
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    var userName = User.FindFirstValue(ClaimTypes.Name);
}

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    User Control Panel
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <partial name="_NavigationBar.cshtml" />
    <div class="col">
        <span class="h1">
            @userName
        </span>
        <span class="h4">
            <a class="badge badge-secondary"
               asp-action="Profile"
               asp-controller="User"
               asp-route-id="@userId">View Profile</a>
        </span>
    </div>
</div>