@model PicoBoards.Models.UserListingTable

<h1>Users</h1>

<table>
    <tbody>
        @foreach (var listing in Model)
        {
            <tr>
                <td>@listing.UserName</td>
                <td>@listing.GroupName</td>
                <td>@listing.Created</td>
                <td>@listing.LastActive</td>
            </tr>
        }
    </tbody>
</table>