@model ChangeUserNameForm

<h1>User Control Panel</h1>

@Html.ValidationSummary()

<form asp-action="ChangeUserName" method="post">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <button type="submit">Save Changes</button>
</form>