@{ 
    Layout = "_Layout";
}
@model HomeCommunityViewModel

<h1>Communities</h1>

<table>
    <tbody>
        @foreach (var c in Model.Communities)
        {
            <tr>
                <td>
                    <a asp-controller="Community" asp-action="Index" asp-route-id="@c.Id">
                        @c.Name
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>