@using System.Security.Claims
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    @if (User.Identity.IsAuthenticated)
    {
        var user = User as ClaimsPrincipal;
        var name = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name).Value;

        <p>
            Hello, @name!
        </p>

        using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
        {
            <button type="submit">Log Out</button>
        }
    }
    else
    {
        <a href="/Account/LogIn">Log In</a>
    }
</body>
</html>