<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>

    <link rel="stylesheet" href="~/aspnet-workarounds.css" />
</head>
<body>
    <div class="jumbotron" style="padding-top: 0em; padding-bottom: 0em;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4">
                        <a asp-action="Index" asp-controller="Forum">Billboards</a>
                    </h1>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="User">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Group" asp-controller="User">Groups</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Ucp">UCP</a>
                            </li>
                            <li class="nav-item">
                                <form asp-action="Logout" asp-controller="Auth" method="post">
                                    <a
                                       class="nav-link"
                                       href="#"
                                       onclick="this.parentNode.submit(); return false;">
                                        Log Out
                                    </a>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Login" asp-controller="Auth">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Register" asp-controller="Auth">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <br />
    <br />
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>
</body>
</html>