@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1>Log In</h1>
    @using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
    {
        @Html.EditorForModel()
        <br />
        <button type="submit">Log In</button>
    }
</body>
</html>