@model AccountRegisterViewModel

<h1>Register</h1>

<form asp-controller="Account" asp-action="Register" method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <br />
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <br />
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <br />
    <button type="submit">Register</button>
</form>