@{ 
    Layout = "_CommunityLayout";
}
@model NewTopicViewModel

<h1>New Topic</h1>

<form asp-controller="Topic" asp-action="New" method="post">
    <input asp-for="ForumId" type="hidden" />

    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <br />
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <br />
    <label asp-for="OpeningPostBody"></label>
    <textarea asp-for="OpeningPostBody"></textarea>
    <br />
    <button type="submit">Submit</button>
</form>