@{ 
    Layout = "_CommunityLayout";
}
@model NewPostViewModel

<h1>New Post</h1>

<form asp-controller="Topic" asp-action="NewPost" method="post">
    <input asp-for="TopicId" type="hidden" />

    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <br />
    <label asp-for="Body"></label>
    <textarea asp-for="Body"></textarea>
    <br />
    <button type="submit">Submit</button>
</form>