@model RegistrationForm

<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Register</h1>
                @Html.ValidationSummary()
                <form asp-action="Register" method="post">
                    <div class="form-group">
                        <label asp-for="EmailAddress"></label>
                        <input class="form-control" asp-for="EmailAddress" />
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@@</span>
                            </div>
                            <input class="form-control" asp-for="UserName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">&#10033;</span>
                            </div>
                            <input class="form-control" asp-for="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input class="form-control" asp-for="ConfirmPassword" />
                    </div>
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>